// @import "vars";
// @import "libs";
// @import "fonts";
// @import "media";
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #350FA5;
    color: white;
    font-family: 'futura';
}


header {
    width: 100%;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../img/jpg/bg-header.jpg') no-repeat;
    background-size: cover;
}


.top-header {
    width: 100%;
    height: 100px;
    top:-100px;
    transition: top 1s;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    background: rgba(85,66,206,0.8);
    li {
        display: inline-block;
        // margin-right: 30px;
        padding: 10px;
    }
    li:last-child {
        background-image: url('../img/svg/bg-get-app.svg');
        border-radius: 5px;
    }
    a {
        text-decoration: none;
        color: white;
    }

}
.top-header.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    background: rgba(85,66,206,0.8);
}
.top-header.fixed ~ .menu {
    margin-top:100px;
}
.menu{
    width: 70%;
    // height:80vh;
    opacity: 1;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
}
.menu-text {
    width: 50%;
    height: 100%;
    padding: 5% 2% 0px 0px;
    span {
        font-size: 34px;
    }
    p {
        margin-top: 5%;
    }
}
.input-search {
    width: 100%;
    margin-top: 10%;
    display: flex;
    position: relative;
  }
.input-field {
    height: 50px;
    width: 100%;
    background: rgba(82,53,197,1);
  background: -moz-linear-gradient(left, rgba(82,53,197,1) 0%, rgba(85,66,206,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(82,53,197,1)), color-stop(100%, rgba(85,66,206,1)));
  background: -webkit-linear-gradient(left, rgba(82,53,197,1) 0%, rgba(85,66,206,1) 100%);
  background: -o-linear-gradient(left, rgba(82,53,197,1) 0%, rgba(85,66,206,1) 100%);
  background: -ms-linear-gradient(left, rgba(82,53,197,1) 0%, rgba(85,66,206,1) 100%);
  background: linear-gradient(to right, rgba(82,53,197,1) 0%, rgba(85,66,206,1) 100%);
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  }
  
  .submit-button {
    width: 40%;
    height: 50px;
    background: rgba(0,130,222,1);
  background: -moz-linear-gradient(left, rgba(0,130,222,1) 0%, rgba(0,179,250,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,130,222,1)), color-stop(100%, rgba(0,179,250,1)));
  background: -webkit-linear-gradient(left, rgba(0,130,222,1) 0%, rgba(0,179,250,1) 100%);
  background: -o-linear-gradient(left, rgba(0,130,222,1) 0%, rgba(0,179,250,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,130,222,1) 0%, rgba(0,179,250,1) 100%);
  background: linear-gradient(to right, rgba(0,130,222,1) 0%, rgba(0,179,250,1) 100%);
  border: none;
  color: #fff;
  font-size: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  }
  
  .custom-search-icon {
    position: absolute;
    top: 15px;
    left: 20px;
  }
  
  .input-field::placeholder{
    padding-left: 50px;
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
  }
.menu-weather {
    width: 50%;
    height: 100%;
    background-color: #3A11AF;
    border-radius: 10px;
}
.menu-weather-report {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #481EB8;
    border-radius: 10px 10px 0 0;
}
.report-text {
    margin-left: 10px;
    span {
        padding: 10px;
        font-size: 20px;
        text-transform: uppercase;
    }
    p {
        padding: 10px;
    }
}
.cloud-forecast {
    // height: 80%;
    display: flex;
    flex-direction: row;
    background-color:#3513AA;
    border-radius: 0 0 10px 10px;
}
.cloud {
    width: 45%;
    margin:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #411CB1;
    span {
        font-size: 80px;
    }
}
.forecast {
    width: 45%;
    padding: 10px;
    background-color: grba(57,17,176);
    display: flex;
    flex-direction: column;
    img {
        width: 50px;
        height: 50px;
    }
}
.forecast-items {
    display: flex;
    flex-direction: row;
    align-items: center;
     span {
         padding-left: 10px;
     }
}
.forecast-text{
    padding-top: 10px;
    span {
        font-size: 14px;
        margin-top: 10px;
    }
    p {
        padding-top: 10px ;
        font-size: 12px;
    }
}

main {
    width: 70%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    // padding: 20px;
}
.main-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    span {
        font-size: 34px;
    }
    p {
        padding-top: 30px;
    }
    button {
        background: url('../img/svg/bg-more-info.svg');
        padding: 15px;
        width: 40%;
        border-radius: 5px;
        border: none;
        margin-top: 30px;
        color: white;
    }
}
.main-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    img {
        width: 100%;
        height: auto;
    }
}

.frequently {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    // height: 100vh;
    span {
        font-size: 30px;
    }
}
.frequently-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.frequently-items {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 14px;
    span {
        font-size: 18px;
    }
    p {
        padding-top: 10px;
        font-size: 14px;
        display: none;
        top: 35px;
        width: 100%;
    }
}

.frequently-items:hover p{
    display: block;
    cursor: pointer;
}

.support-service {
    height: 50vh;
    display: flex;
    flex-direction: row;
    padding: 50px 10px;
    align-items: center;
}
.support-service-img {
    margin: 10px;
    width: 25%;
    height: 40%;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 2px;
    img {
        width: 100%;
    }
}
.footer-text {
    b {
        color: #0CB1F9;
    }
}
footer {
    width: 100%;
    background-color: #5439B4;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}



@media (min-width: 992px) {
    // .top-header li{
    //     // margin-right: 30px;
    // }
  }

  @media (max-width: 768px) { 
    
    .menu {
        flex-direction: column;
    }
    .menu-text {
        width: 100%;
    }
    .menu-weather {
        width: 100%;
    }

}

@media (max-width: 576px) { 
    .top-header li{
        font-size: 12px;
    }
}

@media (max-width: 575px) { 
    .top-header li{
        font-size: 10px;
    }
}